.news_header {
    display: flex;
    justify-content: space-between;
    font-family: 'NA Sans';
    font-size: 2.25rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 5px;
}

.news_logo {
    margin-left: 5%;
    display: flex;
}

#logo_title_left {
    background-color: #1A73E8;
    color: white;
    border: 1px solid #1A73E8;
}
#logo_title_right {
    border: 1px solid #1A73E8;
    background-color: white;
    color: #1A73E8;
}

.header_title {
    display: flex;
    flex-basis: 90%;
    text-align: center;
    flex-direction: column;
    /* align-items: center; */
}

.content_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* border: 1px solid black; */
}

.section_slide_wrap {
    display: flex;
    position: relative;
    flex-basis: 100%;
    
}
.slide_show {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top:0;
    z-index: 0;
    overflow: hidden;
    opacity: 0;
    transition:all .5s ease-in-out;
    transform: scale(0.9);
}

.slide_show img {
    max-width: 500px;
    max-height: 300px;
}

.showing{
    opacity: 1;
    z-index: 1;
    transform: none;
}

.slide_info {
    margin-left: 5%;
}
